.container{
    background-color: aqua;
    width: 70%;
    height: 60vh;
    margin: auto;
    padding: 1rem;
}
#btn-center {
    display: flex;
    width: max-content;
    margin: auto;
    padding: 1rem;
    border-radius: .5rem;    
}
#txtareadiv{
    margin: 1rem;
}

#txt-input{
    display: flex;
    justify-self: center;
    width: 70%;
    height: 10vh;
    margin: auto;
    padding: 1rem;
}
#output {
    display: flex;
    justify-self: flex-start;
    width: 70%;
    height:10vh;
    border: 1px solid black ;
    margin: auto;
    padding: 1rem;
    background-color: white;

    
}
h1 {
    color: black;
    padding: 1rem;
    margin: auto;
    text-align: center;
    background-color:yellow;
    border-top-left-radius: 1rem;
}
h2{ text-align:justify;
    width: fit-content;    
    font-size: large;
    margin: auto;
    padding: 1rem;
    
}
#btn-translet {
    color: black;
    font-size: x-large;
    background-color:yellowgreen ;
    border-radius: 0.5rem; 
    
}
footer{
    

}
.ftrpara{
    display: block;
    height: auto;
    margin: auto;
    padding: 1rem;
    text-align: center;
    background-color: yellow;
    border-bottom-right-radius: 1rem;

}

