.container{
    background-color: aqua;
    width: 50%;
    height: 60vh;
    margin: auto;
}
#btn-center {
    display: flex;
    width: max-content;
    margin: auto;
    padding: 1rem;
    background-color: rgb(147, 177, 149);
    border-radius: .5rem;    
}


#txt-input{
    display: flex;
    justify-self: center;
    width: 50%;
    height: 10vh;
    margin: auto;
    padding: 1rem;
}
#output {
    display: flex;
    justify-self: center;
    width: 50%;
    height:10vh;
    border: 1px solid black ;
    margin: auto;
    padding: 1rem;
    background-color: white;
    
}
h1 {
    color: black;
    border: 2px solid blue;
    border-radius: 1rem;
    padding: 10px;
    margin: auto;
    text-align: center;
    background-color: cornsilk;
}
h2{
    text-align: center;
    width: fit-content;    
    background-color: chartreuse;
    font-size: large;
    margin: auto;
}
#btn-translet {
    color: black;
    font-size: x-large;
    background-color:yellowgreen ;
    border-radius: 0.5rem; 
    
}
footer{
    position: fixed;
    bottom: 0%;
}
.ftrpara{
    display: block;
    margin: auto;
    padding: 1rem;
    text-align: center;
    background-color: yellow;

}

